@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* global nav start */
    .nav-btn-line {
        @apply w-[26px] h-[3.2px] my-[2.5px] mx-0 bg-gray-50 rounded-sm duration-[400ms];
    }

    .nav-menu-icon {
        @apply h-11 w-11 bg-lochinvar rounded-full p-1.5 shadow-2xl relative z-20;
    }

    .nav-menu-icon-title {
        @apply bg-lochinvar rounded-r-lg rounded-l-[1.25rem] absolute top-0 right-3.5 z-10 h-11 text-center py-2.5 pl-2 pr-8 font-[600] tracking-wider shadow-xl invisible group-hover: visible;
    }

    .nav-menu-moon-icon {
        @apply h-11 w-11 bg-slate-700 stroke-amber-300 fill-amber-300 duration-300 rounded-full p-1.5 shadow-2xl;
    }

    .nav-menu-sun-icon {
        @apply h-11 w-11 bg-gray-200 stroke-amber-500 fill-amber-500 duration-300 rounded-full p-1.5 shadow-2xl;
    }

    /* global nav end */

    /* global social icon start */
    .social-icon-item {
        @apply flex duration-200 hover: -translate-y-1.5
    }

    /* global social icon end */

    /* main headers start */
    .section-header {
        @apply flex items-start justify-center tablet: h-[10%];
    }

    .section-header-span {
        @apply border-b-4 rounded-b border-catalinaBlue font-semibold tracking-widest text-2xl inline pb-1.5 px-3 mt-3 mb-7 laptop: text-3xl dark:border-pastelGreen;
    }

    /* main headers end */

    /* about start */
    .about-box-hobbies-item {
        @apply bg-yellow-400 flex-auto px-2 py-1 rounded font-medium laptop: text-lg;
    }

    /* about end */

    /* resume start */
    .skills-battery-body {
        @apply rounded border-2 border-catalinaBlue bg-catalinaBlue space-x-1 px-0.5 relative dark: border-pastelGreen;
    }

    .skills-battery-charge-full {
        @apply px-2.5 tablet: py-0.5 bg-green-500 rounded-sm dark:bg-pastelGreen;
    }

    .skills-battery-charge-empty {
        @apply px-2.5 tablet: py-0.5 bg-green-200 rounded-sm;
    }

    .history-date {
        @apply bg-catalinaBlue text-loafer px-3 py-1 text-xs rounded-md inline-block tablet: text-base dark:bg-lochinvar;
    }

    .history-text {
        @apply leading-7 pb-3 tablet: text-justify tablet:mt-8 tablet:text-lg laptop:pb-5 laptop:leading-8 laptop:font-medium dark:text-gray-300;
    }

    /* resume end */

    /* portfolio start */
    .mobile-portfolio-item {
        @apply relative h-60 bg-cover bg-center flex justify-center items-end rounded-lg overflow-hidden tablet: w-96;
    }

    .mobile-portfolio-item-link {
        @apply w-full bg-gray-900 bg-opacity-70 text-center font-[600] py-1 hover: bg-opacity-75;
    }

    .laptop-portfolio-slite-item {
        @apply flex flex-col items-center justify-center w-full h-full bg-lochinvar pb-40 px-7;
    }

    /* portfolio end */

    /* services start */
    .services-box-item {
        @apply rounded-2xl flex flex-col justify-center items-center bg-lochinvar mx-auto p-4 text-center overflow-hidden relative tablet: w-[296px] laptop:p-0 laptop:h-64 laptop:w-64 laptop:justify-start dark:bg-sky-800;
    }

    .services-box-item-icon {
        @apply h-16 w-16 rounded-full mx-auto bg-sky-700 p-2.5 laptop: w-full laptop:h-full laptop:p-20 laptop:rounded-none laptop:group-hover:w-20 laptop:group-hover:h-20 laptop:group-hover:mt-5 laptop:group-hover:p-2 dark:bg-pastelGreen;
    }

    .services-facts-item {
        @apply h-20 w-20 mx-auto ring-8 ring-sky-700 rounded-full p-2 mb-5 laptop: w-24 laptop:h-24 dark:ring-pastelGreen;
    }

    .services-facts-item-text {
        @apply font-medium whitespace-pre-line -mt-4 laptop: mt-0 laptop:whitespace-normal laptop:text-lg;
    }

    /* services end */

    /* contact start */
    .contact-box-item {
        @apply bg-catalinaBlue shadow-lg rounded-2xl h-[180px] w-[296px] p-3 flex flex-col justify-center space-y-4 items-center dark: bg-sky-800;
    }

    /* contact end */
}
